<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{{asset('./assets/css/admin.css')}}">
	<!-- font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Work+Sans:wght@400;600;700;800;900&display=swap" rel="stylesheet">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<title>ADMIN</title>
</head>
<!-- body of page -->
<body>
	{% include "Admin/_adminNav.html.twig" %}
	<section class="container">
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Users</h1>
				</div>
			</div>
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Users list</h3>
					</div>
					<table>
						<thead>
							<tr>
								<th>Email</th>
								<th>username</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td>
										<img src="{{ user.image }}" alt="">
										{{ user.email }}
									</td>
									<td>
										<a href="{{ path('app_admin_show', {'id': user.id}) }}">
											{{ user.username }}
										</a>
									</td>
									<td style="display:flex;">
										<a href="{{ path('app_admin_edit', {'id': user.id}) }}" class="bx bx-edit"></a>
										<form method="post" action="{{ path('app_admin_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
											<button class="bx bxs-trash"></button>
										</form>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="7">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
</body>
<script src="{{asset('./assets/js/admin.js')}}"></script>
</html>
